{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	<!-- FontAwesome CSS -->
	<script src="https://kit.fontawesome.com/f88b3658f2.js" crossorigin="anonymous"></script>


	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

	<link rel="icon" type="image/png" href="{% static 'images/russian_flag.png' %}" />

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/css/index.css">

	<title>MasterMyRussian !</title>
</head>

<body
	class="{% if wasitright != None %} {% if wasitright == 1%} mybg-success {% elif wasitright == 0%} mybg-warning {% else %} mybg-danger {% endif %} {% endif %}">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">

			<a class="navbar-brand zoom-out" href="{% url 'index' %}"><img class="image-navbar"
					src="{% static 'images/russian_flag.png' %}" alt=""></a>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item basic-title">MasterMyRussian !</li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'admin:index' %}"><span
								class="fa fa-2x fa-cogs admin-menu"></span></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<br>
	{% if not stop %}
	<div class="container">
		<div class="row" style="padding:10px;">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="d-flex justify-content-center mr-2 box-1">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-2 text-center">
							{% if questiontype == 0 %}
							<h1 class="text-center">Traduit ? {% if hint is not None %} <small><span data-bs-toggle="modal" data-bs-target="#modalHint" style="margin-left: 25px;"> <i class="fas fa-question-circle"></i> </span></small>{% endif %}</h1>
							{% endif %}
							{% if questiontype == 1 %}
							<h1 class="text-center">Vocal ? {% if hint is not None %} <small><span data-bs-toggle="modal" data-bs-target="#modalHint" style="margin-left: 25px;"> <i class="fas fa-question-circle"></i> </span></small>{% endif %}</h1>
							{% endif %}
							{% if questiontype == 2 %}
							<h1 class="text-center">Genre du mot ?</h1>
							{% endif %}
							

							<!-- Modal -->
							<div class="modal fade" id="modalHint" tabindex="-1" aria-labelledby="modalHintLabel" aria-hidden="true">
								<div class="modal-dialog modal-md">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="modalHintLabel">Indications...</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body text-center">
											{{ hint }}
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
										</div>
									</div>
								</div>
							</div>
		


							<h2 id="wordtoguess" class="text-center">{{ wordtoguess }} <span class="btn btn-primary text-center play" id="play" type="submit"><i class="fas fa-volume-up"></i></span> </h2>
							{% if en_word is not None %}
								(<i> {{ en_word }} </i>)
							{% endif %}
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<form id="prout" action="" method="post" class="text-center">
								{% csrf_token %}
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 valign">
										<input type="text" name="answer" maxlength="100" placeholder="Réponse..." autocomplete="off" class="test form-control form-control-sm"  id="id_answer">
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 mt-sm-2 mt-3 mb-sm-2 mb-3">
										<span id="start-record-btn" title="Start Recording" class="btn btn-primary"><i class="fas fa-play"></i></span>
										<span id="pause-record-btn" title="Pause Recording" class="btn btn-primary"><i class="fas fa-stop"></i></span>
									</div>
								</div>
								<span class="app">
									<p id="recording-instructions">Press the <strong>Start Recognition</strong> button and allow access.</p>
								</span>
								<input type="hidden" name="requestedid" value="{{ requestedid }}">
								<input type="hidden" id="txt" class="txt" name="wordtoguess" value="{{ wordtoguess }}">
								<input type="hidden" name="questiontype" value="{{ questiontype }}">
								<button type="submit" class="btn btn-primary text-center">Valider</button>

							</form>

						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-3 mt-sm-3 mt-md-0 mt-lg-0">

				<div class="text-center ml-2 box-2">
					<p>
						{% if previousanswer != None %}
							{{ previousanswer }}
						{% endif %}
					</p>

					{% if wasitright != None %} {% if wasitright == 1 %}
						<p class="text-success">Good one ! </p>
					{% elif wasitright == 0 %} 
						<p class="text-warning">Une Typo ! </p>
					{% else %} 
						<p class="text-danger">Try again ! </p>
					{% endif %}

					<p>
						{{ good.ru_word }} ({{ good.ru_gender }})
					</p>
					<p>
						{{ good.fr_word }}
					</p>
					<p>
						{% if good.en_word != None %}
							{{ good.en_word }}
						{% endif %}
						
					</p>
					{% endif %}
				</div>
			</div>

		</div>
	</div>

	<div class="container">
		<div class="row">
			<span style="background-color: gainsboro;" class="mt-3">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2 mb-2">

					<!-- Button trigger modal -->
					<span data-bs-toggle="modal" data-bs-target="#modalNouns">
						<img src="{% static 'images/NOUN.png' %}" alt="" style="width:120px;">
					</span>

					<span data-bs-toggle="modal" data-bs-target="#modalAdj" style="margin-left: 25px;">
						<img src="{% static 'images/ADJ.png' %}" alt="" style="width:120px;">
					</span>

					<span data-bs-toggle="modal" data-bs-target="#modalDec" style="margin-left: 25px;">
						<button class="btn btn-primary">Déclinaisons</button>
					</span>

					<!-- Modal -->
					<div class="modal fade" id="modalNouns" tabindex="-1" aria-labelledby="modalNounsLabel" aria-hidden="true">
						<div class="modal-dialog modal-xl">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="modalNounsLabel">Déclinaison des noms</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body text-center">
									<img src="{% static 'images/NOUN.png' %}" alt="">
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
								</div>
							</div>
						</div>
					</div>

					<!-- Modal -->
					<div class="modal fade" id="modalAdj" tabindex="-1" aria-labelledby="modalAdjLabel" aria-hidden="true">
						<div class="modal-dialog modal-xl">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="modalAdjLabel">Déclinaison des adjectifs</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body text-center">
									<img src="{% static 'images/ADJ.png' %}" alt="">
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
								</div>
							</div>
						</div>
					</div>

					<!-- Modal -->
					<div class="modal fade" id="modalDec" tabindex="-1" aria-labelledby="modalDecLabel" aria-hidden="true">
						<div class="modal-dialog modal-xl">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="modalDecLabel">Déclinaisons</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body text-left">
									<p><b>Le nominatif </b>Pour le sujet. Il répond à la question « qui est-ce <b>qui</b> ? » ou « qu'est-ce <b>qui</b> ? »</p>

									<p><b>L’accusatif </b>Pour les COD. Il répond aux questions « qui ? » ou « quoi ? » après le sujet « qui est-ce <b>que</b> ? » ou « qu'est-ce <b>que</b> ? »</p>
									<p style="padding-left:25px;">On l'utilise aussi : 
										<br>
										Pour exprimer un changement de lieu avec "в" (dans) et "на" (sur)
										<br>
										Avec les prépositions qui ont un sens temporel après les prépositions "в", "Через", "на" et "за"
									</p>

									<p><b>Le datif </b> Pour le COI. Il répond aux questions « à qui ? », « à quoi ? » ou « pour qui ? »</p>
									<p style="padding-left:25px;">On l'utilise aussi : 
										<br>
										Après les prépositions "к" et "по"
									</p>

									<p><b>Le génitif </b>Pour le complément du nom. Il répond aux questions « de qui ? » ou de « de quoi ? »</p>
									<p style="padding-left:25px;">On l'utilise aussi pour : 
										<br>
										Pour exprimer la posession
										<br>
										Pour exprimer l'abscence ou la non-existence
										<br>
										Pour exprimer l'origine avec "с" et "из"
										<br>
										Après les prépositions suivantes "без", "место", "кроме", "для", "около", "среди", "вокруг" et "до"
									</p>

									<p><b>Le locatif </b>Pour la localisation ou le lieu</p>
									<p style="padding-left:25px;">On l'utilise aussi : 
										<br>
										Après la préposition "о"
										<br>
										Après la préposition "в" + mois ou année
										<br>
										Après verbe + "на"
									</p>

									<p><b>L’instrumental </b>Pour le complément de moyen. Il répond aux questions « par qui ? » ou « par quoi ? ou « comment ? »</p>
									<p style="padding-left:25px;">On l'utilise aussi : 
										<br>
										Après les prépositions "с", "вместе с" désignant l'accompagnement
										<br>
										Après les prépositions "за" (derrière), "перед" (devant), "под" (dessous), "над" (dessus) et "между" (entre) pour le répérage spatial
									</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
								</div>
							</div>
						</div>
					</div>
					
					</div>
				</div>
			</span>
		</div>
	</div>



	<div class="container">
		<div class="row">
			<span style="background-color: gainsboro;" class="mt-4 mb-4">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2 mb-2">
					<i onclick=change() class="fas fa-2x fa-keyboard" style="color:black;"></i>
				</div>
				
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2 mb-2">
					<div class="row">
						<div class="simple-keyboard-ru" ></div>
						<div class="simple-keyboard-fr"></div>
					</div>
				</div>
			</span>
		</div>
	</div>
	{% else %}
	<div class="container">
		<div class="row" style="padding:10px;">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="text-center justify-content-center mr-2 box-nothing">
					<p>Oh non...</p>
					<p><i class="fas fa-exclamation-circle fa-4x"></i></p>
					<p>Il n'y a rien à réviser aujourd'hui...</p>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	</div>

	<h3 class="no-browser-support">Sorry, Your Browser Doesn't Support the Web Speech API. Try Opening This Demo In Google Chrome.</h3>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script>

	<script src="https://code.responsivevoice.org/responsivevoice.js?key=3DJqv2aL"></script>
	<script src="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/index.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/simple-keyboard-layouts@latest/build/index.min.js"></script>

	<script>

		document.querySelector(".simple-keyboard-ru").style.display = "block";
		document.querySelector(".simple-keyboard-fr").style.display = "none";

		var ru = true;
		function change() {
			if(ru == true){
				ru= false;
				document.querySelector(".simple-keyboard-ru").style.display = "none";
				document.querySelector(".simple-keyboard-fr").style.display = "block";
			}else{
				ru=true;
				document.querySelector(".simple-keyboard-ru").style.display = "block";
				document.querySelector(".simple-keyboard-fr").style.display = "none";
			}
		}

		// TTS
		var synth2 = speechSynthesis;
		// console.log(synth2.getVoices())

		var synth = window.speechSynthesis;
		var inputForm = document.querySelector('.play');
		var inputTxt = document.querySelector('.txt');
		var voices = [];

		function populateVoiceList() {
			voices = synth.getVoices().sort(function (a, b) {
				const aname = a.name.toUpperCase(), bname = b.name.toUpperCase();
				if (aname < bname) return -1;
				else if (aname == bname) return 0;
				else return +1;
			});
		}

		populateVoiceList();
		if (speechSynthesis.onvoiceschanged !== undefined) {
			speechSynthesis.onvoiceschanged = populateVoiceList;
		}

		function speak() {
			if (synth.speaking) {
				console.error('speechSynthesis.speaking');
				return;
			}
			if (inputTxt.value !== '') {
				var utterThis = new SpeechSynthesisUtterance(inputTxt.value);
				utterThis.onend = function (event) {
					console.log('SpeechSynthesisUtterance.onend');
				}
				utterThis.onerror = function (event) {
					console.error('SpeechSynthesisUtterance.onerror');
				}
				// console.log(voices);
				for (i = 0; i < voices.length; i++) {
					// console.log(voices[i])
					if (voices[i].name === "Google русский" | voices[i].name === "ru-RU" | voices[i].lang === "ru_RU") {
						utterThis.voice = voices[i];
						// console.log(voices[i])
						break;
					}
				}
				utterThis.pitch = 1;
				utterThis.rate = 1;
				synth.speak(utterThis);
			}
		}

		inputForm.onclick = function (event) {
			event.preventDefault();
			speak();
		}

		// STT

		try {
			var SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
			var recognition = new SpeechRecognition();
			$('.no-browser-support').hide();
			$('.app').show();
		}
		catch (e) {
			console.error(e);
			$('.no-browser-support').show();
			$('.app').hide();
		}

		var noteTextarea = $('#id_answer');
		var instructions = $('#recording-instructions');
		var noteContent = '';

		recognition.lang = 'ru-RU';
		recognition.continuous = true;

		recognition.onresult = function (event) {
			var current = event.resultIndex;
			var transcript = event.results[current][0].transcript;
			var mobileRepeatBug = (current == 1 && transcript == event.results[0][0].transcript);

			if (!mobileRepeatBug) {
				noteContent += transcript;
				noteTextarea.val(noteContent);
			}
		};

		recognition.onstart = function () {
			instructions.text('Voice recognition activated. Try speaking into the microphone.');
		}

		recognition.onspeechend = function () {
			instructions.text('You were quiet for a while so voice recognition turned itself off.');
		}

		recognition.onerror = function (event) {
			if (event.error == 'no-speech') {
				instructions.text('No speech was detected. Try again.');
			};
		}

		$('#start-record-btn').on('click', function (e) {
			if (noteContent.length) {
				noteContent += ' ';
			}
			recognition.start();
		});

		$('#pause-record-btn').on('click', function (e) {
			recognition.stop();
			instructions.text('Voice recognition paused.');
		});

		noteTextarea.on('input', function () {
			noteContent = $(this).val();
		})
	</script>

</body>

</html>

<script>

let Keyboard = window.SimpleKeyboard.default;
let KeyboardLayouts = window.SimpleKeyboardLayouts.default;

/**
 * Available layouts
 * https://github.com/hodgef/simple-keyboard-layouts/tree/master/src/lib/layouts
 */
let layoutru = new KeyboardLayouts().get("russian");
let layoutfr = new KeyboardLayouts().get("french");

let keyboardru = new Keyboard(".simple-keyboard-ru", {
  onChange: input => onChange(input),
  onKeyPress: button => onKeyPress(button),
  layout: layoutru
});

let keyboardfr = new Keyboard(".simple-keyboard-fr", {
  onChange: input => onChange(input),
  onKeyPress: button => onKeyPress(button),
  layout: layoutfr
});

function onChange(input) {
  document.querySelector("#id_answer").value = input;
  // console.log("Input changed", input);
}

function onKeyPress(button) {
  // console.log("Button pressed", button);
}

</script>

<script>
	


	var shifts = document.getElementsByClassName("hg-button-shift");
	for (var i=0; i<shifts.length; i++) {
		shifts[i].innerHTML="<i class=\"fas fa-arrow-up\"></i>";
	}

	var shifts = document.getElementsByClassName("hg-button-enter");
	for (var i=0; i<shifts.length; i++) {
		shifts[i].innerHTML="<i class=\"fas fa-level-down-alt fa-rotate-90\"></i>";
	}

	var shifts = document.getElementsByClassName("hg-button-lock");
	for (var i=0; i<shifts.length; i++) {
		shifts[i].innerHTML="<i class=\"fas fa-lock\"></i>";
	}

	var shifts = document.getElementsByClassName("hg-button-tab");
	for (var i=0; i<shifts.length; i++) {
		shifts[i].innerHTML="<i class=\"fas fa-exchange-alt\"></i>";
	}

	var shifts = document.getElementsByClassName("hg-button-bksp");
	for (var i=0; i<shifts.length; i++) {
		shifts[i].innerHTML="<i class=\"fas fa-arrow-left\"></i>";
	}


// self executing function here
(function() {
// your page initialization code here
// the DOM will be available here

})();
</script>