body{
	background-color: #b6b6b6;
}

.basic-title{
	color: #0039A6;
	margin-left: 15px;
}

.admin-menu{
	color: #0039A6;
}

.image-navbar{
	margin-left: 25px;
	box-shadow: 1px 1px 12px #555;
	height: 30px;
	-webkit-transform: scale(1.25);
	transform: scale(1.25);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.image-navbar:hover{
	-webkit-transform: scale(1);
	transform: scale(1);
}

.mybg-danger{
    background-color: #fa9ca4 !important;
}

.mybg-warning{
    background-color: #face9c !important;
}

.mybg-success{
    background-color: #9ee9af !important;
}

.box-1{
	padding: 10px;
	background-color: gainsboro;
	border-radius: 30px;
	border: 1px solid #707070;
	box-shadow: 1px 1px 10px #707070;
}

.box-2{
	padding: 10px;
	background-color: gainsboro;
	border-radius: 30px;
	border: 1px solid #707070;
	box-shadow: 1px 1px 10px #707070;
}

.box-nothing{
	padding: 10px;
	background-color: #fa9ca4;
	border-radius: 30px;
	border: 1px solid #ff4252;
	box-shadow: 1px 1px 10px #707070;
	color: #ff2436
}

.valign{
	margin-top: auto;
	margin-bottom: auto;
}